body{
    background-color: rgb(235, 235, 235);
}


h1{
    color:darkcyan;
}

a{
    text-decoration: none;
    color:darkcyan;
    font-size: 25px;
    display: inline;
}
li{
    display :inline;
}

a:active{
    color: darkgrey;
}
a:hover{
    color: blue;
}

iframe{
    margin: 0 auto;
    width: 400px;
    padding: 2em;
    border: 2px solid #CCC;
    border-radius: 1em;
    
}

.ocultar{
    visibility: hidden;
}

#sobre{
    font-size: 30px;
    text-align: center;
    
}

#maps{
    text-align: center
}

#contatos{
    border-color: pink;
}

fieldset{
    margin: 0 auto;
    width: 800px;
	height: auto;
    padding: 2em;
    border: 2px solid #cccccc;
    background-color: white;

    }